.avatar {
    
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    height: 64px;
    width: 64px;
}
body{
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


}